/* Card.css */
.card {
    display: flex;
    margin-bottom: 1em;
    border: 1px solid var(--shadow-extra-weak);
    padding: 1.5em;
    width: 100%;
    max-width: 1200px;
    height: 240px;
    background-color: var(--primary);
    box-shadow: var(--box-shadow);
    box-sizing: border-box;
    border-radius: 6px;
}

.card img {
    margin-right: 1.5em;
    box-shadow: 0 4px 6px var(--shadow-extra-weak);
    max-width: 150px;
    aspect-ratio: 1 / 1.4142;
    height: auto;
    border-radius: 3px;
    pointer-events: none;
}

.card img::selection {
    background-color: transparent;
}


.card .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    min-width: 0; /* Allow flex items to shrink properly */
    overflow: hidden; /* Prevent overflow */
}

.card .content .title {
    display: flex;
    font-size: 1.5em;
    font-weight: 550;
    letter-spacing: 0.05em;
    margin-bottom: 0.25em;
    max-width: 100%;
}

.card .content .title .title-text {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card .content .title .icon {
    margin-left: 0.6em;
    margin-right: 1.0em;
    margin-bottom: 0.1em;
    font-size: 0.75em;
}

.card .content .authors {
    font-size: 1.1em;
    font-weight: 400;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    box-sizing: border-box;
    line-height: 1.4;
}

.card .content hr {
    width: 100%;
    margin: 0.5em 0;
    border: none;
    border-top: 1px solid var(--shadow-extra-weak);
}

.card .content .abstract {
    display: -webkit-box;
    text-align: justify;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.card .meta {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    margin-left: auto;
    text-align: right;
    padding-left: 1em;
}

.card .meta .bookmark-icon {
    font-size: 2.1em;
    color: var(--secondary-highlight);
    cursor: pointer;
    transform: scaleY(2.5);
    transition: color 0.4s, opacity 0.4s;
}

.card .meta .bookmark-icon:hover {
    color: var(--warning);
    opacity: 0.8;
}

.card .meta .bookmark-icon.bookmarked {
    color: var(--warning);
    opacity: 1.0;
}

.card .meta .date {
    opacity: 0.5;
    transition: opacity 0.4s;
}

.card .meta .date:hover {
    opacity: 0.8;
}